*, *:before, *:after {
  box-sizing: inherit !important;
}

body {
  color:#535353;
  font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "STHeitiSC-Light", "Helvetica","Arial","Verdana","sans-serif";
  background: #f8f8f8 url(../assets/bg.jpg) repeat top left;
}

a {
  text-decoration: none;
}

.wmde-markdown pre {
  background-color: #fff;
}