.language-jsx, .language-js,.language-javascript{
  .keyword, .selector-tag {
    color: #b111bf;
    font-weight: 600;
  }
  .subst {
    color: #0000ca;
  }
  .title, .section {
    color: #4e00dc;
    font-weight: normal;
  }
  .string, .doctag {
    color: #d73a49;
  }
  .attr {
    color: #0000ca;
  }
  .class .keyword{
    color: #008cd4;
  }
  .function {
    color: #0000ca;
    .params {
      color: #008cd4;
    }
  }
}
.language-json {
  color: #444;
  .attr {
    color: #0000ca;
  }
}