scripts
test
build
package-lock.json
yarn.lock
src
website
LICENSE
coverage

.DS_Store
.babelrc
.travis.yml
.eslintrc
.eslintignore
.editorconfig
.postcssrc
.cache
.vscode
.idea

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*

