a._corner_1qg4o_1 {
  position: fixed;
  top: 0;
  right: 0;
}
a._corner_1qg4o_1 svg {
  fill: #e1e1e1;
  color: #000;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  z-index: 99;
  width: 4.375rem;
  height: 4.375rem;
}
a._corner_1qg4o_1:hover ._octo-arm_1qg4o_17 {
  -webkit-animation: _octocat-wave_1qg4o_1 560ms ease-in-out;
          animation: _octocat-wave_1qg4o_1 560ms ease-in-out;
}
@-webkit-keyframes _octocat-wave_1qg4o_1 {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
@keyframes _octocat-wave_1qg4o_1 {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
._keyboard_32z4u_1 {
  height: 394px;
  border-radius: 10px;
  border: 1px solid #C9C9C9;
  background: #F2F2F2;
  box-shadow: 2px 0px 2px #E2E2E2 inset, -2px 2px 3px #E2E2E2 inset, 1px 0px 0px #C1C1C1 inset, 0px -2px 3px #C1C1C1 inset;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  top: -40px;
  width: 995px;
  margin: 0 auto;
}
._keyboard_32z4u_1 ul {
  width: 992px;
  margin-top: 9px;
  padding-left: 11px;
  position: relative;
  float: left;
}
._keyboard_32z4u_1 li {
  width: 62px;
  height: 62px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #151515;
  color: #c8c8c8;
  text-align: center;
  line-height: 62px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #3A3A3A;
  box-shadow: 1px 0px 0px #000000, 0px 1px 0px #000000, -1px 0px 0px #000000, 0px -1px 0px #000000;
  transition: all .2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}
._keyboard_32z4u_1 li:active,
._keyboard_32z4u_1 li.pressed {
  color: #52F800;
  background-color: #100068;
  border: 1px solid #332376;
}
._keyboard_32z4u_1 li:nth-child(1) {
  width: 99px;
  height: 28px;
  line-height: 28px;
  text-indent: 1em;
  text-align: left;
}
._keyboard_32z4u_1 li:nth-child(2),
._keyboard_32z4u_1 li:nth-child(3),
._keyboard_32z4u_1 li:nth-child(4),
._keyboard_32z4u_1 li:nth-child(5),
._keyboard_32z4u_1 li:nth-child(6),
._keyboard_32z4u_1 li:nth-child(7),
._keyboard_32z4u_1 li:nth-child(8),
._keyboard_32z4u_1 li:nth-child(9),
._keyboard_32z4u_1 li:nth-child(10),
._keyboard_32z4u_1 li:nth-child(11),
._keyboard_32z4u_1 li:nth-child(12),
._keyboard_32z4u_1 li:nth-child(13),
._keyboard_32z4u_1 li:nth-child(14) {
  width: 60px;
  height: 28px;
  line-height: 28px;
}
._keyboard_32z4u_1 li:nth-child(15),
._keyboard_32z4u_1 li:nth-child(16),
._keyboard_32z4u_1 li:nth-child(17),
._keyboard_32z4u_1 li:nth-child(18),
._keyboard_32z4u_1 li:nth-child(19),
._keyboard_32z4u_1 li:nth-child(20),
._keyboard_32z4u_1 li:nth-child(21),
._keyboard_32z4u_1 li:nth-child(22),
._keyboard_32z4u_1 li:nth-child(23),
._keyboard_32z4u_1 li:nth-child(24),
._keyboard_32z4u_1 li:nth-child(25),
._keyboard_32z4u_1 li:nth-child(26),
._keyboard_32z4u_1 li:nth-child(27),
._keyboard_32z4u_1 li:nth-child(40),
._keyboard_32z4u_1 li:nth-child(41),
._keyboard_32z4u_1 li:nth-child(42),
._keyboard_32z4u_1 li:nth-child(53),
._keyboard_32z4u_1 li:nth-child(54),
._keyboard_32z4u_1 li:nth-child(64),
._keyboard_32z4u_1 li:nth-child(65),
._keyboard_32z4u_1 li:nth-child(66) {
  padding: 7px 0;
  height: 48px;
}
._keyboard_32z4u_1 li:nth-child(15) span,
._keyboard_32z4u_1 li:nth-child(16) span,
._keyboard_32z4u_1 li:nth-child(17) span,
._keyboard_32z4u_1 li:nth-child(18) span,
._keyboard_32z4u_1 li:nth-child(19) span,
._keyboard_32z4u_1 li:nth-child(20) span,
._keyboard_32z4u_1 li:nth-child(21) span,
._keyboard_32z4u_1 li:nth-child(22) span,
._keyboard_32z4u_1 li:nth-child(23) span,
._keyboard_32z4u_1 li:nth-child(24) span,
._keyboard_32z4u_1 li:nth-child(25) span,
._keyboard_32z4u_1 li:nth-child(26) span,
._keyboard_32z4u_1 li:nth-child(27) span,
._keyboard_32z4u_1 li:nth-child(40) span,
._keyboard_32z4u_1 li:nth-child(41) span,
._keyboard_32z4u_1 li:nth-child(42) span,
._keyboard_32z4u_1 li:nth-child(53) span,
._keyboard_32z4u_1 li:nth-child(54) span,
._keyboard_32z4u_1 li:nth-child(64) span,
._keyboard_32z4u_1 li:nth-child(65) span,
._keyboard_32z4u_1 li:nth-child(66) span {
  line-height: 23px;
  height: 23px;
  width: 100%;
  float: left;
  font-size: 14px;
}
._keyboard_32z4u_1 li:nth-child(28) span,
._keyboard_32z4u_1 li:nth-child(55) span,
._keyboard_32z4u_1 li:nth-child(67) span {
  line-height: 14px;
  margin-top: 43px;
  float: right;
  margin-right: 8px;
}
._keyboard_32z4u_1 li:nth-child(30),
._keyboard_32z4u_1 li:nth-child(31),
._keyboard_32z4u_1 li:nth-child(32),
._keyboard_32z4u_1 li:nth-child(33),
._keyboard_32z4u_1 li:nth-child(34),
._keyboard_32z4u_1 li:nth-child(35),
._keyboard_32z4u_1 li:nth-child(36),
._keyboard_32z4u_1 li:nth-child(37),
._keyboard_32z4u_1 li:nth-child(38),
._keyboard_32z4u_1 li:nth-child(39),
._keyboard_32z4u_1 li:nth-child(44),
._keyboard_32z4u_1 li:nth-child(45),
._keyboard_32z4u_1 li:nth-child(46),
._keyboard_32z4u_1 li:nth-child(47),
._keyboard_32z4u_1 li:nth-child(48),
._keyboard_32z4u_1 li:nth-child(49),
._keyboard_32z4u_1 li:nth-child(50),
._keyboard_32z4u_1 li:nth-child(51),
._keyboard_32z4u_1 li:nth-child(52),
._keyboard_32z4u_1 li:nth-child(57),
._keyboard_32z4u_1 li:nth-child(58),
._keyboard_32z4u_1 li:nth-child(59),
._keyboard_32z4u_1 li:nth-child(60),
._keyboard_32z4u_1 li:nth-child(61),
._keyboard_32z4u_1 li:nth-child(62),
._keyboard_32z4u_1 li:nth-child(63) {
  font-size: 18px;
  line-height: 64px;
}
._keyboard_32z4u_1 li:nth-child(29) span,
._keyboard_32z4u_1 li:nth-child(43) span,
._keyboard_32z4u_1 li:nth-child(56) span,
._keyboard_32z4u_1 li:nth-child(68) span,
._keyboard_32z4u_1 li:nth-child(69) span,
._keyboard_32z4u_1 li:nth-child(70) span,
._keyboard_32z4u_1 li:nth-child(71) span,
._keyboard_32z4u_1 li:nth-child(73) span,
._keyboard_32z4u_1 li:nth-child(74) span {
  line-height: 14px;
  margin-top: 43px;
  text-indent: 5px;
  float: left;
}
._keyboard_32z4u_1 li:nth-child(28),
._keyboard_32z4u_1 li:nth-child(29) {
  width: 73px;
}
._keyboard_32z4u_1 li:nth-child(43),
._keyboard_32z4u_1 li:nth-child(55) {
  width: 102px;
}
._keyboard_32z4u_1 li:nth-child(43):active span:first-child {
  background: #52f800;
}
._keyboard_32z4u_1 li:nth-child(43) span:first-child {
  position: absolute;
  top: -36px;
  left: 5px;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 3px;
}
._keyboard_32z4u_1 li:nth-child(55) span:first-child,
._keyboard_32z4u_1 li:nth-child(70) span:first-child {
  position: absolute;
  right: 0px;
  top: -37px;
  font-size: 12px;
  line-height: 12px;
}
._keyboard_32z4u_1 li:nth-child(70) span:first-child {
  left: 0px;
  text-align: left;
}
._keyboard_32z4u_1 li:nth-child(74) span:first-child {
  position: absolute;
  left: 0;
  top: -37px;
  font-size: 12px;
  line-height: 12px;
}
._keyboard_32z4u_1 li:nth-child(56) {
  width: 136px;
}
._keyboard_32z4u_1 li:nth-child(67) {
  width: 137px;
}
._keyboard_32z4u_1 li:nth-child(71),
._keyboard_32z4u_1 li:nth-child(73) {
  width: 70px;
}
._keyboard_32z4u_1 li:nth-child(72) {
  width: 333px;
}
._keyboard_32z4u_1 li:nth-child(76),
._keyboard_32z4u_1 li:nth-child(78) {
  height: 29px;
  line-height: 29px;
}
._keyboard_32z4u_1 li:nth-child(76) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
._keyboard_32z4u_1 li:nth-child(78) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  bottom: 0;
  right: 84px;
}
._footer_i3axz_1 {
  text-align: center;
  padding: 15px 0 100px 0;
  font-size: 12px;
  line-height: 20px;
}
._markdown_9l2bs_1 {
  padding: 0 20px 20px;
  max-width: 995px;
  margin: 0 auto;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #24292e;
}
._markdown_9l2bs_1 > *:first-child {
  margin-top: 0 !important;
}
._markdown_9l2bs_1 > *:last-child {
  margin-bottom: 0 !important;
}
._markdown_9l2bs_1 code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  word-wrap: normal;
}
._markdown_9l2bs_1 code:not(.hljs) {
  padding: 0.2em 0.4em 0.08em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.07);
  border-radius: 3px;
}
._markdown_9l2bs_1 pre code {
  padding: 16px;
  font-size: 95%;
  line-height: 1.5;
  display: block;
  text-shadow: 0 1px #fff;
}
._markdown_9l2bs_1 pre {
  margin-bottom: 18px;
  max-height: 35em;
  position: relative;
  overflow: auto;
  background-color: #F0F0F0;
  border-radius: 3px;
}
._markdown_9l2bs_1 del {
  color: #888;
}
._markdown_9l2bs_1 pre code {
  background: none;
  font-size: 1em;
  overflow-wrap: normal;
  white-space: inherit;
}
._markdown_9l2bs_1 ul,
._markdown_9l2bs_1 li,
._markdown_9l2bs_1 ol,
._markdown_9l2bs_1 dl,
._markdown_9l2bs_1 dt {
  list-style: inherit;
}
._markdown_9l2bs_1 ul,
._markdown_9l2bs_1 ol {
  padding-left: 2em;
}
._markdown_9l2bs_1 dl {
  padding: 0;
}
._markdown_9l2bs_1 dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}
._markdown_9l2bs_1 li + li {
  margin-top: 3px;
}
._markdown_9l2bs_1 a {
  color: #0366d6;
}
._markdown_9l2bs_1 p,
._markdown_9l2bs_1 ol,
._markdown_9l2bs_1 ul {
  margin-bottom: 16px;
}
._markdown_9l2bs_1 li {
  display: list-item;
}
._markdown_9l2bs_1 table {
  margin-bottom: 16px;
}
._markdown_9l2bs_1 blockquote {
  margin: 0;
  padding: 0 1em;
  margin-bottom: 10px;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
._markdown_9l2bs_1 blockquote > :first-child {
  margin-top: 0;
}
._markdown_9l2bs_1 blockquote > :last-child {
  margin-bottom: 0;
}
._markdown_9l2bs_1 hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
._markdown_9l2bs_1 h1 tt,
._markdown_9l2bs_1 h1 code,
._markdown_9l2bs_1 h2 tt,
._markdown_9l2bs_1 h2 code,
._markdown_9l2bs_1 h3 tt,
._markdown_9l2bs_1 h3 code,
._markdown_9l2bs_1 h4 tt,
._markdown_9l2bs_1 h4 code,
._markdown_9l2bs_1 h5 tt,
._markdown_9l2bs_1 h5 code,
._markdown_9l2bs_1 h6 tt,
._markdown_9l2bs_1 h6 code {
  font-size: inherit;
}
._markdown_9l2bs_1 h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px;
}
._markdown_9l2bs_1 h2 {
  margin-bottom: 10px;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #cecece;
}
._markdown_9l2bs_1 h3 {
  margin-bottom: 10px;
  font-size: 1.25em;
}
._markdown_9l2bs_1 h4 {
  margin-bottom: 8px;
  font-size: 1em;
}
._markdown_9l2bs_1 h5 {
  margin-bottom: 8px;
  font-size: 0.875em;
}
._markdown_9l2bs_1 h6 {
  margin-bottom: 5px;
  font-size: 0.85em;
  color: #6a737d;
}
._markdown_9l2bs_1 table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
}
._markdown_9l2bs_1 table th {
  font-weight: 600;
}
._markdown_9l2bs_1 table th,
._markdown_9l2bs_1 table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
._markdown_9l2bs_1 table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
._markdown_9l2bs_1 table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
._markdown_9l2bs_1 table img {
  background-color: transparent;
}
._markdown_9l2bs_1 img {
  max-width: 100%;
  box-sizing: content-box;
  vertical-align: middle;
}
._markdown_9l2bs_1 img[align=right] {
  padding-left: 20px;
}
._markdown_9l2bs_1 img[align=left] {
  padding-right: 20px;
}
._markdown_9l2bs_1 .comment,
._markdown_9l2bs_1 .quote {
  color: #998;
}
._markdown_9l2bs_1 .keyword,
._markdown_9l2bs_1 .selector-tag,
._markdown_9l2bs_1 .subst {
  color: #333;
  font-weight: bold;
}
._markdown_9l2bs_1 .number,
._markdown_9l2bs_1 .literal,
._markdown_9l2bs_1 .variable,
._markdown_9l2bs_1 .template-variable,
._markdown_9l2bs_1 .tag .attr {
  color: #008080;
}
._markdown_9l2bs_1 .string,
._markdown_9l2bs_1 .doctag {
  color: #d14;
}
._markdown_9l2bs_1 .title,
._markdown_9l2bs_1 .section,
._markdown_9l2bs_1 .selector-id {
  color: #900;
  font-weight: bold;
}
._markdown_9l2bs_1 .subst {
  font-weight: normal;
}
._markdown_9l2bs_1 .type,
._markdown_9l2bs_1 .class .title {
  color: #458;
  font-weight: bold;
}
._markdown_9l2bs_1 .tag,
._markdown_9l2bs_1 .name,
._markdown_9l2bs_1 .attribute {
  color: #000098;
  font-weight: normal;
}
._markdown_9l2bs_1 .regexp,
._markdown_9l2bs_1 .link {
  color: #009926;
}
._markdown_9l2bs_1 .symbol,
._markdown_9l2bs_1 .bullet {
  color: #990073;
}
._markdown_9l2bs_1 .built_in,
._markdown_9l2bs_1 .builtin-name {
  color: #0086b3;
}
._markdown_9l2bs_1 .meta {
  color: #999;
  font-weight: bold;
}
._markdown_9l2bs_1 .deletion {
  background: #fdd;
}
._markdown_9l2bs_1 .addition {
  background: #dfd;
}
._markdown_9l2bs_1 .emphasis {
  font-style: italic;
}
._markdown_9l2bs_1 .strong {
  font-weight: bold;
}
._markdown_9l2bs_1 .language-jsx .keyword,
._markdown_9l2bs_1 .language-js .keyword,
._markdown_9l2bs_1 .language-javascript .keyword,
._markdown_9l2bs_1 .language-jsx .selector-tag,
._markdown_9l2bs_1 .language-js .selector-tag,
._markdown_9l2bs_1 .language-javascript .selector-tag {
  color: #b111bf;
  font-weight: 600;
}
._markdown_9l2bs_1 .language-jsx .subst,
._markdown_9l2bs_1 .language-js .subst,
._markdown_9l2bs_1 .language-javascript .subst {
  color: #0000ca;
}
._markdown_9l2bs_1 .language-jsx .title,
._markdown_9l2bs_1 .language-js .title,
._markdown_9l2bs_1 .language-javascript .title,
._markdown_9l2bs_1 .language-jsx .section,
._markdown_9l2bs_1 .language-js .section,
._markdown_9l2bs_1 .language-javascript .section {
  color: #4e00dc;
  font-weight: normal;
}
._markdown_9l2bs_1 .language-jsx .string,
._markdown_9l2bs_1 .language-js .string,
._markdown_9l2bs_1 .language-javascript .string,
._markdown_9l2bs_1 .language-jsx .doctag,
._markdown_9l2bs_1 .language-js .doctag,
._markdown_9l2bs_1 .language-javascript .doctag {
  color: #d73a49;
}
._markdown_9l2bs_1 .language-jsx .attr,
._markdown_9l2bs_1 .language-js .attr,
._markdown_9l2bs_1 .language-javascript .attr {
  color: #0000ca;
}
._markdown_9l2bs_1 .language-jsx .class .keyword,
._markdown_9l2bs_1 .language-js .class .keyword,
._markdown_9l2bs_1 .language-javascript .class .keyword {
  color: #008cd4;
}
._markdown_9l2bs_1 .language-jsx .function,
._markdown_9l2bs_1 .language-js .function,
._markdown_9l2bs_1 .language-javascript .function {
  color: #0000ca;
}
._markdown_9l2bs_1 .language-jsx .function .params,
._markdown_9l2bs_1 .language-js .function .params,
._markdown_9l2bs_1 .language-javascript .function .params {
  color: #008cd4;
}
._markdown_9l2bs_1 .language-json {
  color: #444;
}
._markdown_9l2bs_1 .language-json .attr {
  color: #0000ca;
}
._shields_1ds1m_1 {
  padding: 60px 0 0 0;
  text-align: center;
}
._shields_1ds1m_1 a + a {
  margin-left: 10px;
}
._version_12zto_1 {
  position: absolute;
  margin: 15px 0 0 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  color: #182026;
  padding: 3px 6px;
  vertical-align: middle;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}
._keyCodeInfo_12zto_13 {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
}
._keyCodeInfo_12zto_13 span + span {
  margin-left: 10px;
}
._keyCodeInfo_12zto_13 span {
  display: inline-block;
  background: #eff0f2;
  border-radius: 3px;
  padding: 5px 10px;
  border-top: 1px solid #f5f5f5;
  box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  text-shadow: 0px 1px 0px #f5f5f5;
}
._header_12zto_31 {
  background-color: #292929;
  padding: 74px 0 60px 0;
}
._header_12zto_31 ._title_12zto_35 {
  text-align: center;
  font-size: 53px;
  font-weight: bold;
  color: #fff;
  text-shadow: -3px -3px 0 #676767, -3px -3px 0 #676767, -3px -3px 0 #676767, -2px -2px 0 #676767, -2px -2px 0 #676767, -1px -1px 0 #676767;
}
._header_12zto_31 ._lang_12zto_42 {
  text-align: center;
  padding-top: 20px;
}
._header_12zto_31 ._lang_12zto_42 a {
  color: #fff;
  margin: 0 5px;
}
._header_12zto_31 ._info_12zto_50 {
  padding: 25px 0 27px 0;
  text-align: center;
  font-size: 23px;
  line-height: 29px;
  color: #878787;
  max-width: 702px;
  margin: 0 auto;
}
._header_12zto_31 ._github_12zto_59 {
  text-align: center;
  padding: 60px 0 22px 0;
}
._header_12zto_31 ._github_12zto_59 a + a {
  margin-left: 10px;
}
._header_12zto_31 ._github_12zto_59 button {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  padding: 9px 15px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: whitesmoke;
  background-image: linear-gradient(-90deg, whitesmoke 0%, #e5e5e5 100%);
}
._header_12zto_31 ._github_12zto_59 button:hover {
  color: #337797;
  border: 1px solid #CBE3EE;
  border-bottom-color: #97C7DD;
  background: #f0f7fa;
  background-image: -webkit-linear-gradient(-90deg, #f0f7fa 0%, #d8eaf2 100%);
}
html {
  font-size: 14px;
  background: #e0e0e0;
}
/* margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
img,
form,
applet,
fieldset,
legend,
button,
input,
textarea,
th,
table,
tr,
td {
  margin: 0;
  padding: 0;
  border: none;
}
/* body */
body {
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-size: 12px;
  color: #535353;
  position: relative;
  font-family: "PingHei", "Lucida Grande", "Lucida Sans Unicode", "STHeitiSC-Light", "Helvetica", "Arial", "Verdana", "sans-serif";
  background: #f8f8f8 url(bg.8616d336.jpg) repeat top left;
}
body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
  -webkit-text-size-adjust: none;
}
/* img */
img {
  padding: 0;
  margin: 0;
  vertical-align: top;
  border: none;
}
/* div */
li,
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  font-family: "Vrinda";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
